body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/06/22/37/italian-cuisine-2378729_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

}

.item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mealDetails{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
}

.remove-btn{
    height: 2rem;
    width: 8rem;
    background-color: red;
}

.add-btn{
    height: 2rem;
    width: 8rem;
}

.img{
    width: 10%;
}

.mealDetails{
    width: 70%;
}


.fav-btn{
    padding: 0.7rem;
    color: white;
    background-color: #8e44ad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchbox{
    padding: 0.4rem;
    width: 18em;
    font-size: 1.1rem;
    margin-right: 0.9rem;
}

.search-container{
    margin: 4em auto;
}

.item{
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.add-btn{
    width: 12rem;
    padding: 0.5rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn{
    width: 12rem;
    padding: 0.5rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.meal-container{
    background-color: white;
    height: 50vh;
    width: 31.2rem;
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    overflow-y: scroll;
}

.mealDetails a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}